@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: dimgray;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 20px 20px;
}

.nav-list li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.nav-list li a:hover {
    text-decoration: none;
    color: #ea1538;
}


.background {
    background: rgba(124, 123, 123, 0) url('../img/background.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.background-bottom{
    background: rgba(124, 123, 123, 0) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.firstHalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf {
    width: 30%;
}

.secondHalf img {
    width: 100%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.button-contact {
	padding: 30px 50px;
	color:silver;
	font-weight: bold;
	border-radius: 20px;
	border-color: transparent;
    flex-direction: column;
	
}

.button-contact a{
	color:black;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	font-family: Ubuntu, sans-serif;
}

button :hover{
	color: #ea1538;
	transition: 0.3s;
}

.button-box{
    display: flex;
    margin:50px auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
}

.box-main {
    display: flex;
    height: 60%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: 100px  auto;
}

.text-big {
    font-size: 43px;
}

.text-small {
    font-size: 22px;
}

.btn{
    padding: 5px 8px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: aliceblue;
    cursor: pointer;
}

.btn:hover{
    padding: 5px 8px;
    margin: 7px 0;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: aliceblue;
    cursor: pointer;
    color: black;
}

.btn-sm{
    padding: 5px 10px;
    vertical-align: middle;
}

.btn-sm:hover{
    padding: 5px 10px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    color: aliceblue;
    cursor: pointer;
    color: white;
}

.paras{
    padding: 0px 65px;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 80px auto;
    font-family: 'Ubuntu', sans-serif;
}

.section-left{
    flex-direction: row-reverse;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnail img{
    width: 250px;
    border: solid grey 7px;
    border-radius: 150px
}

.text-center{
	text-align: center;
	padding: 30px;
	font-family: Ubuntu, sans-serif

}

.form-input{
	width: 100%;
	padding: 5px 3px;
	font-size: 18px;
	border: 2px solid grey;
	border-radius: 6px;
	margin: 15px 0px;
}

.btn-dark{
    color:black;
    border:2px solid grey;
}

.contact-us-container{
	max-width:50%;
	height: 100%;
	margin:auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer{
    width: auto;

    display: flex;
    align-items: center;
    align-content: center;
}

.footer{
text-align:center;
font-family:'Ubuntu',sans-serif;
display:flex;
justify-content:center;
padding: 30px 20px;
}

.footer-space{
	margin-bottom: 10px;
}

footer{
    padding: 10px auto ;
}
.social-media-icon{
    padding:10px 10px;
}

.fa {
padding:20px;
font-size: 25px;
width: 25px;
text-align: center;
text-decoration: none;
border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    color: #ea1538;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}


.fa-dribbble {
background: #ea4c89;
color: white;
}

.bg-page-contact{
    background: rgba(124, 123, 123, 0) url('../img/bg-contact-img.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}

.box-container{
    width: 50%;
    padding:20px 0px;
    margin: auto;
    height: 100%;
    
}

.personality-photo {
    width: 50%;
    display: contents;
    margin: 0px 0px;
}

.personality-photo img {
    width: 50%;
    border: 4px solid white;
    border-radius: 250px;
    display: block;
    margin: 20px auto;
}

.paragraph{
    margin: 30px auto;
    
}

.justify{
    text-align: justify;
    text-justify: inter-words;

}

.bg-for-fav{
    background: rgba(124, 123, 123, 0) url('../img/bg-for-fav.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}




@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
        font-size: small;
    }

    .footer{
        text-align: center;
        align-items: center;
    }

    .navbar{
        flex-direction: column;
        height: 478px;
        transition: all 0.3s ease-out;
    }

    .burger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 15px;
    }

    .line{
        width: 33px;
        background-color: white;
        height: 4px;
        margin: 5px 3px;
    }


    .button-box-res{
        margin:50px auto;
    }

    .button-contact-res {
	padding: 10px 20px;
	color:silver;
	font-weight: bold;
	border-radius: 20px;
	border-color: transparent;
    flex-direction: column;
	
    }

    .button-contact-res a{
	color:black;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	font-family: Ubuntu, sans-serif;
    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        margin-top: 0px;
    }
    
    .section{
        flex-direction: column-reverse;
    }

    .text-big{
        text-align: justify;
        font-size: 30px;
    }
    .text-small{
        text-align: justify;
        font-size: 15px;

    }

    .secondHalfRes img {
    width: 100%;
    border: 4px solid white;
    border-radius: 200px;
    display: block;
    margin: auto;
    }

    .thumbnail-res img{
    width: 150px;
    border: solid grey 7px;
    border-radius: 150px
    }

    .justify{
        text-justify: inter-word;
    }

    .youtube-res iframe{

        width: 200px;
        height: 140px;
        margin: auto;
    }

    
}